.form-group input[type="file"] {
    width: 100%;
    padding: 12px;

    border: 1px solid #dce5f2;
    border-radius: 10px;

    background: #ffffff;

    font-family: "Poppins", sans-serif;
    font-size: 13px;

    cursor: pointer;
}

.form-group input[type="file"]:focus {
    outline: none;
    border-color: #1261d6;
}

.form-group small {
    display: block;
    margin-top: 7px;
    color: #7d899b;
    font-size: 11px;
}